{% extends 'main.html' %}

{% block content %}


<div class="card mt-5">
    <div class="card-body">
      <table class="table table-striped" style="border:2px rebeccapurple solid ">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Visit</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
    
          </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <td>{{ paper.title }}</td>
                <td>{{ paper.author }}</td>
                <td><a href="{% url 'singlepaper' paper.id %}">Visit</a></td>
                <td><a href="{% url 'updatepaper' paper.id %}">Edit</a></td>
                <td><a href="{% url 'deletepaper' paper.id %}" > Delete</a> </td> 
                  
    
                </tr>
            {% endfor  %}
    
        </tbody>
    
    
      </table>
    </div> <br>
    <a style="margin-left: 40%; margin-right: 40%;" href="{% url 'createpaper' %}" class="btn btn-primary "  role="button" aria-pressed="true">Add paper</a>
    <br>

  </div>

  <br>





  {% endblock %}
