<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Believe IT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'automation' %}">Automation</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'create_lesson' 1 %}">Add Lesson</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'create_unit' %}">Create Unit</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'unit_list' %}"> Units</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'blog' %}">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>