{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>{{ unit.unit_title }}</h1>
    <p>{{ unit.unit_description }}</p>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h3>Lessons</h3>
        <a href="{% url 'create_lesson' unit.id %}" class="btn btn-success">+ Create Lesson</a>
    </div>

    {% if unit.lesson_set.all %}
        <ul class="list-group">
            {% for lesson in unit.lesson_set.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'lesson_detail' unit.id lesson.id %}" ><strong>{{ lesson.title }}</strong></a>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'edit_lesson' unit.id lesson.id %}" class="btn btn-sm btn-secondary">Edit</a>

                        <form method="POST" action="{% url 'delete_lesson' unit.id lesson.id %}" style="display:inline;" onsubmit="return confirm('Are you sure?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>

                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No lessons added yet.</p>
    {% endif %}
</div>

  
  
{% endblock %}
