
body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(149, 25, 244, 0.189) ;

}
h1{
    border: 2px dotted blue; 
    text-align: center;
    padding: 4px;
    width: 50%;
}
p{
   width: 100ch;
    
}