{% extends 'base.html' %}

{% block content %}



    {% if  user.is_authenticated %}
    <h1 style="text-align: center;">Hello {{user}} </h1> <br>

    <div class="container">
      <div class="row mt-5">
          <div class="col-lg-6">
              <div class="card card_background">
                  <div class="card-header shadow-sm ">
                      <h1 class="display-5 text-info"> <i class="fas fa-check-double"></i>Todo</h1>
                  </div>
                  <div class="card-body">
                    <form action="{% url 'update_item' item.id %}" method="post" autocomplete="off">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="task_title" style="color:white">Enter title</label>
                        <input type="text" class="form-control"  name="task_title" value="{{item.title}}" required>

                      </div>

                      <div class="form-group">
                        <label for="task-description" style="color: white;">Enter Description</label>
                        <textarea class="form-control" id="task-description" name="task_description" value="{{item.description}}" rows="4"></textarea>

                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn-custom">Update</button>
                      </div>
                  </form>
                  </div>
              
          
              </div>    
          </div>
          <div class="col-lg-6">
            <div class="card card_background">
                <div class="card-header shadow-sm ">
                    <h1 class="display-5 text-info"> <i class="fas fa-check-double"></i>Todo</h1>
                </div>
            <div class="card-body">
              {% for item in tasks %}

              <li class="list-group-item">
                {{item.title}} 
      
                <a href="{% url 'update_item' item.id %}" class="float-right d-inline btn"  >  
                    <i class="fa-solid fa-pen-to-square" style="color: #34aa2c;"></i>
                  </a>
    

              

               <form action="{%  url 'delete_item' item.id %}" method="post" onsubmit="return confirmDelete()" autocomplete="off" style="float: right;">
                   {% csrf_token %}
                   <button type="submit" class="btn" >
                       <i class="far fa-trash-alt fa-lg text-danger"></i>
                   </button>
               </form>
              </li>
           {% empty %}
           <li class="list-group-item">
               <span class="font-italic">No item found </span>
           </li>
           {% endfor %}
            </div>
        
            </div>    
        </div>
      </div>
  </div>
    
    {% else %}
    
    <div class="container col-md-6 offset-md-3 mt-5">
  
      <div class="card">
        <div class="card-header" style="background-color: rgb(159, 186, 231);">
          <h1 class="text-center">Login</h1>

        </div>
        <div class="card-body" style="background-color: azure;">
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
        
             <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="User Name " required>
              <br>
          </div>
          <div class="form-group ">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
            <br>
            <button type="submit" class="btn btn-secondary ">Login </button>
        
        
          </form>
        </div>
      </div>
    </div>
    
    {% endif %}
  </div>


{% endblock %}
