{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">

<div class="card">
	<div class="card-header" style="background-color: rgb(0, 0,0);">
		<h1 style=" text-align: center; font-family: cursive">Register</h1>

	</div>
	<div class="card-body" style="background-color: #032e2e;">
		<form method="POST" action="" class="form" style="color:white">
			{% csrf_token %}
			{% if form.errors %}
					<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert"> -->
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
		
					  Your Form Has Errors
					  {% for field in form %}
						  {% if field.errors %}
							  {{ field.errors }}
						  {% endif %}
					  {% endfor %}
					  
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					  
					  <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
					</div>
				{% endif %}
		
			{{ form.as_p }}
		
			<br/>
			  <button type="submit" class="btn btn-secondary" style="color: #09ffaa;">Register</button>
			</form>
	</div>
</div>




</div>

{% endblock %}